body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: auto;
    background-image: url("images/Background.jpg");
    height: 879px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

header {
    background: transparent;
    backdrop-filter: blur(10px);
    background-color: #333;
    color: white;
    padding: 0.1px;
    text-align: center;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    margin-top: 20px;
}

.hero h1 {
    margin: 0;
}

#about, #projects, #contact {
    padding: 16.96px;
    margin: 20px auto;
    max-width: 800px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 30%;
    padding: 10px;
    background-color: #eee;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
}

.project a {
    text-decoration: none;
    color:#333;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    position: static;
    width: 100%;
}
.socialIcons{
    display: flex;
    justify-content: start;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
